<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">CMDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/applications">Applications</a>
      </li>

      <ng-template [ngIf]="!(authState | async).authenticated">
        <li class="nav-item"><a class="nav-link" routerLink="/signup">Register</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/signin">Login</a></li>
      </ng-template>

      <li class="nav-item">
        <a class="nav-link"
           (click)="onLogout()" *ngIf="(authState | async).authenticated">Logout</a>
      </li>
    </ul>
  </div>
</nav>
